In [60]:
"""
Скрипт для создания свода по флюрографии
"""

'\nСкрипт для создания свода по флюрографии\n'

In [102]:
import pandas as pd
import numpy as np
import openpyxl
import os

In [110]:
path_to_data_flg = 'data'
base_df = None

In [111]:
for file in os.listdir(path_to_data_flg):
    name_file = file.split('.xlsx')[0]
    print(name_file)
    # открываем для чтения файл чтобы узнать границы датафрейма
    _wb = openpyxl.load_workbook(f'{path_to_data_flg}/{file}',read_only=True) 
    first_value = '1.0' # определяем значения которые ищем
    last_value = '7.2'

    # Поиск значения в выбранном столбце
    column_number = 1  # Номер столбца, в котором ищем значение (например, столбец A)
    first_row = None  # Номер строки с искомым значением
    last_row = None

    # Ищем границы датафрейма
    for row in _wb[_wb.sheetnames[0]].iter_rows(min_row=1, min_col=column_number, max_col=column_number):
        cell_value = row[0].value
        if first_value in str(cell_value):
            first_row = row[0].row
            break

    for row in _wb[_wb.sheetnames[0]].iter_rows(min_row=1, min_col=column_number, max_col=column_number):
        cell_value = row[0].value
        if last_value in str(cell_value):
            last_row = row[0].row
            break
            
    _wb.close() #закрываем
    # открываем датафрейм для обработки
    df =pd.read_excel(f'{path_to_data_flg}/{file}',skiprows=first_row-1,header=None,nrows=last_row)
    # получаем 
    temp_df = df[[2,8]]

    temp_df.fillna(0,inplace=True)

    temp_df = temp_df.applymap(int)

    temp_df['% выполнения'] = round((temp_df[8] / temp_df[2]) *100,1)


    
    groups = [name_file,name_file,name_file]
    columns = ['Год План','Выполнено','% ']
    multi_index = pd.MultiIndex.from_arrays([groups, columns])
    temp_df.columns = multi_index
    if not base_df:
        base_df = temp_df
    
    base_df = pd.concat([base_df,temp_df],axis=1)

1 гп  декабрь 2022 г.
2 гп ФЛГ за 12  мес 2022

C:\Users\1\AppData\Local\Temp/ipykernel_15332/4129337256.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.fillna(0,inplace=True)
C:\Users\1\AppData\Local\Temp/ipykernel_15332/4129337256.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.fillna(0,inplace=True)

ValueError: invalid literal for int() with base 10: 'ПЛАН'

In [116]:
_wb = openpyxl.load_workbook('data/2 гп ФЛГ за 12  мес 2022.xlsx',read_only=True)

In [117]:
first_value = '1.0' # определяем границы
last_value = '7.2'

In [118]:
# Поиск значения в выбранном столбце
column_number = 1  # Номер столбца, в котором ищем значение (например, столбец A)
first_row = None  # Номер строки с искомым значением
last_row = None

In [123]:
# Ищем границы датафрейма
for row in _wb[_wb.sheetnames[0]].iter_rows(min_row=1, min_col=column_number, max_col=column_number):
    cell_value = row[0].value
    print(cell_value)
    if first_value in str(cell_value):
        first_row = row[0].row
        break
        
for row in _wb[_wb.sheetnames[0]].iter_rows(min_row=1, min_col=column_number, max_col=column_number):
    cell_value = row[0].value
    if last_value in str(cell_value):
        last_row = row[0].row
        break

Приложение №1 к пр.МЗ РБ от ________№____( в соответствии с пр.МЗ РФ от 21.03.17г.№124н и СанПин от 22.10.13г.№60)

In [120]:
first_row

1

In [121]:
for row in _wb[_wb.sheetnames[0]].iter_rows(min_row=1, min_col=column_number, max_col=column_number):
    cell_value = row[0].value
    if last_value in str(cell_value):
        last_row = row[0].row
        break

In [122]:
last_row

35

In [70]:
_wb.close()

In [71]:
df =pd.read_excel('data/бич ФЛГ 12 мес.2022г.xlsx',skiprows=first_row-1,header=None,nrows=last_row)

In [82]:
temp_df = df[[2,8]]

In [83]:
temp_df.fillna(0,inplace=True)

C:\Users\1\AppData\Local\Temp/ipykernel_15332/567711560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.fillna(0,inplace=True)

In [84]:
temp_df = temp_df.applymap(int)

In [87]:
temp_df['% выполнения'] = round((temp_df[8] / temp_df[2]) *100,1)

In [89]:
temp_df.columns = ['Год План','Выполнено','% ']

In [93]:
groups = ['Бичурский район','Бичурский район','Бичурский район']
columns = ['Год План','Выполнено','% ']
multi_index = pd.MultiIndex.from_arrays([groups, columns])
temp_df.columns = multi_index

In [99]:
second_df = temp_df.copy()

In [100]:
groups = ['Еравнинский район','Еравнинский район','Еравнинский район']
columns = ['Год План','Выполнено','% ']
multi_index = pd.MultiIndex.from_arrays([groups, columns])
second_df.columns = multi_index

In [101]:
pd.concat([temp_df,second_df],axis=1)

   Бичурский район                  Еравнинский район
          Год План Выполнено     %           Год План Выполнено     %
0              564       546   96.8               564       546   96.8
1               26        24   92.3                26        24   92.3
2               63        59   93.7                63        59   93.7
3               24        21   87.5                24        21   87.5
4               43        42   97.7                43        42   97.7
5              312       309   99.0               312       309   99.0
6               86        81   94.2                86        81   94.2
7                1         1  100.0                 1         1  100.0
8                9         9  100.0                 9         9  100.0
9                0         0    NaN                 0         0    NaN
10            1005       936   93.1              1005       936   93.1
11             533       496   93.1               533       496   93.1
12              22        21   95.5                22        21   95.5
13             239       226   94.6               239       226   94.6
14             183       165   90.2               183       165   90.2
15              28        28  100.0                28        28  100.0
16               0         0    NaN                 0         0    NaN
17               0         0    NaN                 0         0    NaN
18               0         0    NaN                 0         0    NaN
19            1706      1682   98.6              1706      1682   98.6
20             780       780  100.0               780       780  100.0
21              86        86  100.0                86        86  100.0
22             344       344  100.0               344       344  100.0
23              39        39  100.0                39        39  100.0
24              63        61   96.8                63        61   96.8
25             394       372   94.4               394       372   94.4
26               0         0    NaN                 0         0    NaN
27            3489      3354   96.1              3489      3354   96.1
28            7915      7026   88.8              7915      7026   88.8
29           14679     13544   92.3             14679     13544   92.3
30             712       668   93.8               712       668   93.8
31               0         0    NaN                 0         0    NaN

In [91]:
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Создание мультииндекса для колонок
groups = ['Group 1', 'Group 1', 'Group 2']
columns = ['Column 1', 'Column 2', 'Column 3']
multi_index = pd.MultiIndex.from_arrays([groups, columns])

# Присвоение мультииндекса колонкам DataFrame
df.columns = multi_index

# Вывод DataFrame с мультииндексом для колонок
print(df)

   Group 1           Group 2
  Column 1 Column 2 Column 3
0        1        4        7
1        2        5        8
2        3        6        9